#!/usr/sbin/nft -f
flush ruleset

add table inet filter
add chain inet filter input { type filter hook input priority filter ; policy drop ; }

add rule inet filter input iifname lo accept

add rule inet filter input ct state established,related accept

add set inet filter ext_allow_tcp_ports { type inet_service; }
add set inet filter ext_allow_udp_ports { type inet_service; }
add rule inet filter input iifname {{ ansible_default_ipv4.interface }} tcp dport @ext_allow_tcp_ports accept
add rule inet filter input iifname {{ ansible_default_ipv4.interface }} udp dport @ext_allow_udp_ports accept

add set inet filter wg_allow_tcp_ports { type inet_service; }
add set inet filter wg_allow_udp_ports { type inet_service; }
add rule inet filter input iifname wg0 tcp dport @wg_allow_tcp_ports accept
add rule inet filter input iifname wg0 udp dport @wg_allow_udp_ports accept
add rule inet filter input iifname wg0 ip protocol icmp accept

add element inet filter ext_allow_tcp_ports { 80, 443 }
add element inet filter ext_allow_udp_ports { 5000 }
add element inet filter wg_allow_tcp_ports { 22, 443 }
add element inet filter wg_allow_udp_ports { 53 }
