ListenAddress {{ wireguard.interface_address }}
AllowUsers root
AddressFamily inet
PubkeyAuthentication yes
PasswordAuthentication no
KerberosAuthentication no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
TCPKeepAlive no
AllowAgentForwarding no
Subsystem sftp /usr/libexec/openssh/sftp-server
