ListenAddress {{ wireguard.interface_address }}
AllowUsers root
AddressFamily inet
PubkeyAuthentication no
PasswordAuthentication no
KerberosAuthentication no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
TCPKeepAlive no
AllowAgentForwarding no
Subsystem sftp /usr/libexec/openssh/sftp-server
{% for peer in wireguard.peers %}
Match Address {{ peer.allowed_ip }}
  PubkeyAuthentication yes
{% endfor %}
