user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
    worker_connections 1024;
    use epoll;
    multi_accept off;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    # Logging
    access_log /var/log/nginx/access.log combined buffer=512k flush=5s;
    error_log /var/log/nginx/error.log warn;

    # Hide nginx version
    server_tokens off;

    # Disable unwanted modules
    autoindex off;

    client_body_buffer_size 16K;
    client_header_buffer_size 1k;
    client_max_body_size 1M;
    large_client_header_buffers 2 1k;

    # Timeouts
    keepalive_timeout 10;
    send_timeout 10;
    client_body_timeout 10;
    client_header_timeout 10;

    gzip off;

    types_hash_max_size 2048;
    types_hash_bucket_size 64;

    # SSL Configuration (if TLS enabled)
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256:ECDHE-ECDSA-AES256-GCM-SHA384';
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;

    geo $trusted_access {
        default 0;
        {% for peer in wireguard.peers %}
        {{ peer.allowed_ip }}/32 1;
        {% endfor %}
   }

    include /etc/nginx/conf.d/*.conf;
}
