server {
    listen 443 ssl;
    server_name {{ item.domain }};

    ssl_certificate /etc/nginx/ssl/{{ item.domain }}.pem;
    ssl_certificate_key /etc/nginx/ssl/{{ item.domain }}.key;

    root /var/www/{{ item.domain }};
    index index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }
}
