server:
  username: unbound
  verbosity: 1
  interface: {{ wireguard.interface_address }}
  access-control: 0.0.0.0/0 allow
  prefetch: yes
  tls-cert-bundle: /etc/ssl/cert.pem
  
  forward-zone:
    name: .
    forward-tls-upstream: yes
    forward-addr: 8.8.8.8@853#dns.google
    forward-addr: 8.8.4.4@853#dns.google
    forward-addr: 1.1.1.1@853#cloudflare-dns.com
    forward-addr: 1.0.0.1@853#cloudflare-dns.com

