server:
  username: unbound
  verbosity: 1

  interface: {{ wireguard.interface_address }}
  ip-freebind: yes
  access-control: {{ wireguard.interface_address }}/32 allow
{% for peer in wireguard.peers %}
  access-control: {{ peer.allowed_ip }}/32 allow
{% endfor %}
  do-ip4: yes
  do-ip6: no
  do-udp: yes

  prefetch: yes
  edns-buffer-size: 4096

  tls-cert-bundle: /etc/ssl/cert.pem

  chroot: ""
  
  forward-zone:
    name: .
    forward-tls-upstream: yes
    forward-addr: 1.1.1.1@853#cloudflare-dns.com
    forward-addr: 1.0.0.1@853#cloudflare-dns.com
    forward-addr: 8.8.8.8@853#dns.google
    forward-addr: 8.8.4.4@853#dns.google
