wireguard:
  interface_address: 10.8.0.1
  listen_port: 5000
  private_key: xxx
  peers:
    - public_key: xxx
      allowed_ip: 10.8.0.2
ssh:
  root_authorized_key: xxx
websites:
  - domain: example.com
    letsencrypt_email: foo@bar.com
    vpn_site: False
  - domain: private_site.cloud
    vpn_site: True
